.wrapper {
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    flex: 1 1 auto;
}
/* Для больших экранов */
@media (min-width: 980px) { 
    .wrapper {
        width: 1080px;
    }
    .content {
        margin: 0 300px 0 200px; /* Отступ на ширину левой и правой колонки*/
       }
    .container {
        width: 900px; /* Ширина макета */
        margin: 0 auto; /* Выравнивание по центру */
       }
}
 
/* Для некоторых нетбуков и планшетов (таблеток) */
@media (max-width: 979px) { 
    .wrapper {
        width: 840px;
    }
    .content {
        margin: 0 230px 0 150px; /* Отступ на ширину левой и правой колонки*/
       }
    .container {
        width: 800px; /* Ширина макета */
       }
}

/* Для планшетов и некоторых телефонов */
@media (max-width: 767px) { 
    .wrapper {
        width: 700px;
    } 
    .container {
        display: flex;
        flex-direction: column;
        width: 650px; /* Ширина макета */
       }
       .content {
        margin: 0 190px 0 90px; /* Отступ на ширину левой и правой колонки*/
       }

}
@media (max-width: 547px) { 
    .wrapper {
        width: 540px;
    } 
    .container {
        display: flex;
        flex-direction: column;
        width: 500px; /* Ширина макета */
       }
       .content {
        margin: 0 170px 0 80px; /* Отступ на ширину левой и правой колонки*/
       }

}
.content {
    display: flex;
    flex-direction: column;
   }
html,body {
    height: 100%;
    min-width: 100%;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    
}
header{
    padding: 5px;
    background-color: black;
    border-radius: 0 0 10px 10px;
}
footer{
    padding: 10px;
    background-color: black;
    border-radius: 10px 10px 0 0;
}
.footer-link{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    text-decoration: none;
    display: block;
    color: aliceblue;
    text-align: right!important
}
.footer-link-img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
header .container__text{
    text-align: center!important;
    font-weight: 500;
    font-size: 22px;
    color: aliceblue;
}

   ._blok{
    padding-bottom: 5px;
    display: flex;
}
._blok *{
    margin: 0 5px;
}
.fraction, .commander_blok{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #000000;
}
#fraction__choise,#commander{
    font-weight: 700;
    font-size: 16px;
    color: #270000d7;
}
#units{
    font-weight: 600;
    color: #270000d7;
}

#commander{
    width: 70px;
    height: 80px;
}

#button-random {
    width: 200px;
    margin: 20px 0 ;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
     0 1px rgba(255,255,255,.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
  }
  #button-random:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
  }
  #button-random:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }
